#modal {
    /* border: 3px solid red; */
    /* display: none; */
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    /* background-image: linear-gradient(90deg, #4e000de3, #240b36d7); */
    background-color: rgba(0, 0, 0, 0.527);
    /* background: linear-gradient(to right, #2c3e50, #666a6d); */

    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal_content {
    /* display: none; */
    border: 3px solid rgb(221, 221, 221);
    border-radius: 30px;
    min-width: 30vw;
    width: fit-content;
    max-width: 300px;
    min-height: 50px;
    padding: 10px;
    height: fit-content;
    /* background-image: linear-gradient(90deg, #6b0113, #240b36); */
    /* background: linear-gradient(to right, #f05053, #e1eec3); */
    background: linear-gradient(to right, #2c3e50, #666a6d);

    box-shadow: 0 0 15px 5px yellow;
    margin: 10px;

}

#modal_heading {
    /* border: 3px solid rgb(201, 177, 177); */
    height: fit-content;
    text-align: center;

}

#modal_heading p {
    font-size: 25px;
    color: white;
    font-weight: 800;
    padding: 10px;
}

#task_on_modal{
    /* border: 3px solid white; */
    max-height: 150px;
    height: fit-content;
    width: auto;
    overflow: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
    /* word-break: break-all; */
}

#modal_btns {
    /* border: 3px solid rgb(201, 177, 177); */
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}





.modal_btn {
    --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
    --border-width: .125em;
    --curve-size: .5em;
    --blur: 30px;
    --bg: #080312;
    --color: #afffff;
    color: var(--color);
    /* use position: relative; so that BG is only for .modal_btn */
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: .5em 1.5em;
    font-size: 17px;
    margin: 10px;
    cursor: pointer;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
    clip-path: polygon(
            /* Top-left */
            0% var(--curve-size),

            var(--curve-size) 0,
            /* top-right */
            100% 0,
            100% calc(100% - var(--curve-size)),

            /* bottom-right 1 */
            calc(100% - var(--curve-size)) 100%,
            /* bottom-right 2 */
            0 100%);
    transition: color 250ms;
}

.modal_btn::after,
.modal_btn::before {
    content: '';
    position: absolute;
    inset: 0;
}

.modal_btn::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    z-index: -2;
}

@keyframes move-bg7234 {
    0% {
        background-position: 31% 0%
    }

    50% {
        background-position: 70% 100%
    }

    100% {
        background-position: 31% 0%
    }
}

.modal_btn::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
            /* Top-left */
            var(--border-width) calc(var(--curve-size) + var(--border-width) * .5),

            calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),

            /* top-right */
            calc(100% - var(--border-width)) var(--border-width),

            calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

            /* bottom-right 1 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
            /* bottom-right 2 */
            var(--border-width) calc(100% - var(--border-width)));
    transition: clip-path 500ms;
}

.modal_btn:where(:hover, :focus)::after {
    clip-path: polygon(
            /* Top-left */
            calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),

            calc(100% - var(--border-width)) var(--border-width),

            /* top-right */
            calc(100% - var(--border-width)) var(--border-width),

            calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

            /* bottom-right 1 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),

            /* bottom-right 2 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)));
    transition: 200ms;
}

.modal_btn:where(:hover, :focus) {
    color: #fff;
}